In [54]:
import numpy as np
import pandas as pd
import sklearn.metrics as skl

In [2]:
df_train=pd.read_csv('./train.csv')

In [3]:
df_train

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,-199.976500,-30.453041,1082.680684,-530.579767,602.366643,-2138.290628,-56.632352,1166.444325,-772.096264,-908.987980,-414.216625
9996,9996,39.584572,2520.830358,-124.883939,18.067992,-998.622811,-1262.733524,-565.107007,-455.238199,555.726945,994.368197,-286.562290
9997,9997,61.176538,-545.704959,1696.765630,-508.186053,3.620563,-1018.514516,251.561864,-338.181817,1014.142886,-582.528063,638.789847
9998,9998,-202.136489,-367.787118,-568.357801,-721.247794,198.279702,-217.422041,914.756550,443.756638,-306.203642,-949.055902,-448.083485
9999,9999,-289.218996,428.570549,-164.999054,864.962658,-647.662456,720.057730,-337.714761,-2028.548436,726.181981,-1167.830521,-1285.207648

In [4]:
from sklearn.linear_model import LinearRegression

In [21]:
X=df_train.iloc[:,2:12]

In [22]:
y=df_train.iloc[:,1]

In [29]:
weight=LinearRegression().fit(X, y)
weight.score(X,y)
weight.predict(X)

array([ 738.02317073,  400.64601516,  189.9001559 , ...,   61.17653809,
       -202.13648932, -289.21899568])

In [27]:
from sklearn.metrics import mean_squared_error
RMSE = mean_squared_error(y, weight.predict(X))**0.5

# Test Set

In [32]:
df_test=pd.read_csv('./test.csv')
df_test
X_test=df_test.iloc[:,1:11]

In [36]:
y_test=weight.predict(X_test)

In [35]:
id=df_test['Id']

In [48]:
id

0       10000
1       10001
2       10002
3       10003
4       10004
        ...
1995    11995
1996    11996
1997    11997
1998    11998
1999    11999
Name: Id, Length: 2000, dtype: int64

In [57]:
df_res= pd.DataFrame(res)
df_res.to_csv("task0.csv", header = ["Id","y"], index=False)

ValueError: Writing 2000 cols but got 2 aliases

In [58]:
res=pd.read_csv('./sample.csv')

In [61]:
res=pd.read_csv('./sample.csv')
res['y'] = y_test

In [63]:
res=pd.read_csv('./sample.csv')
res['y'] = y_test
res.to_csv('./my_pred.csv', index = False)