In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('./train.csv')
df_train

      Id         y    x1    x2    x3    x4    x5
0      0 -6.822679  0.02  0.05 -0.09 -0.43 -0.08
1      1 -6.326290 -0.13  0.11 -0.08 -0.29 -0.03
2      2 -9.302728  0.08  0.06 -0.07 -0.41 -0.03
3      3 -7.371893  0.02 -0.12  0.01 -0.43 -0.02
4      4 -6.027647 -0.14 -0.12 -0.08 -0.02 -0.08
..   ...       ...   ...   ...   ...   ...   ...
695  695 -6.147394  0.31 -0.09  0.04 -0.09  0.03
696  696 -6.214899 -0.26 -0.01  0.02 -0.40  0.05
697  697 -6.841341 -0.27 -0.22 -0.01 -0.32 -0.05
698  698 -6.523371  0.19  0.11 -0.05 -0.27 -0.04
699  699 -5.676683 -0.09 -0.09 -0.06 -0.41 -0.06

[700 rows x 7 columns]

In [4]:
Y=df_train.iloc[:,1]

In [5]:
X=df_train.iloc[:,2:]

In [10]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [39]:
X1=X
X2=X**2
X3=np.exp(X)
X4=np.cos(X)

X1 = X1.to_numpy()

X2 = X2.to_numpy()
X3 = X3.to_numpy()
X4 = X4.to_numpy()



X_fea=np.c_[X1,X2,X3,X4]
X_fea.shape

(700, 20)

In [40]:
from sklearn.linear_model import LinearRegression

In [43]:
reg = LinearRegression().fit(X_fea, Y)
reg.coef_.shape
reg.intercept_

-6689.189579806103

In [53]:
coef = np.append(reg.coef_,reg.intercept_)
np.transpose(coef)
coef = coef.reshape((-1,1))
coef

array([[   87.19891672],
       [  -67.27010868],
       [   28.53822965],
       [  158.07550392],
       [ -819.69642957],
       [  200.04958807],
       [ -393.54175642],
       [ 1953.26216011],
       [ -523.63288817],
       [ 1518.93422167],
       [  -86.60565699],
       [   65.34027498],
       [  -30.9921308 ],
       [ -155.77167729],
       [  822.10809668],
       [  327.109988  ],
       [ -737.64020339],
       [ 3890.67031218],
       [-1211.22831197],
       [ 3799.82175151],
       [-6689.18957981]])

In [51]:
np.savetxt("task1b.csv", coef, delimiter=",",  fmt='%1.19f')